.DS_Store
*.iml
*.idea

build/
DerivedData/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserdatad

*.moved-aside
*.xccheckout
*.xcscmblueprint

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

bin/
gen/
out/

.gradletasknamecache
.gradle/
build/
